<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{title}}">

	<ion-nav-buttons side="right">
		<button class="button button-positive" ng-click="postArticle()">Post</button>
    </ion-nav-buttons>
   <!-- ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
      Back
    </ion-nav-back-button>
    <h1 class="title">{{title}}}</h1>
    <div class="buttons right-buttons">
      <button class="button button-positive" ng-click="useImage()">Use</button>
    </div>
  </ ion-nav-bar>-->
  



  <ion-content has-header="true">
     <ion-list>
      <ion-item ng-repeat="paragraph in paragraphs" ng-click="selectImage(paragraph)" class="item item-thumbnail-left item-text-wrap">
      	<!-- <input type="file" capture="camera" accept="image/*"> -->
      	<img ng-src="{{paragraph.image}}" style="background:lightgray;">
      	<h2>{{paragraph.contents}}</h2>
	      
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
