<div class="modal">
    <ion-header-bar>
      <h1 class="title">Welcome!</h1>
    </ion-header-bar>
    <ion-content>
    <br/>
	<br/>
	
    <h2 style="text-align: center;">
      News4Cell
    </h2>
	<br/>
	<br/>
	<br/>
	  

  　<button class="button button-large button-block button-balanced icon-right ion-chevron-right" ng-click="modalHide('post')">
  			登録する人はこちら
	</button>
	<br/>
	<br/>

	<button class="button button-large button-block button-energized icon-right ion-chevron-right" ng-click="modalHide('mangas')">
	  漫画を見る人はこちら
	</button>


      
    </ion-content>
</div>